@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
	font-family: 'Poppins', sans-serif !important;
	background: #ebf9fb;
}
.slick-slide{
	margin: 0 20px;
}
.slick-slide img{
	width: 100%;
}
.slick-slider{
	position: relative;
	display: block;
	box-sizing: border-box;
}
.slick-list{
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.slick-track{
	position: relative;
	top: 0;
	left: 0;
	display: block;
}

.slick-slide{
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}
.slick-slide img{
	display: block;
}
.slick-initialized .slick-slide{
	display: block;
}

h1{
	text-align: center;
	/*ketebalan font*/
	font-weight: 100;
}

.tulisan_login{
	text-align: center;
	/*membuat semua huruf menjadi kapital*/
	text-transform: uppercase;
}

.kotak_login{
	width: 350px;
	background: white;
	/*meletakkan form ke tengah*/
	margin: 40px auto;
	padding: 30px 20px;
	box-shadow: 0px 0px 100px 4px #d6d6d6;
}

label{
	font-size: 11pt;
}

.form_login{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
}

.tombol_login{
	background: #2aa7e2;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}

.link{
	color: #232323;
	text-decoration: none;
	font-size: 10pt;
}

.alert{
	background: #e44e4e;
	color: white;
	padding: 10px;
	text-align: center;
	border:1px solid #b32929;
}